/*Style CSS for JJWeb's ColorBox Template */

/*Top NavBar Modification*/
.navbar-default {
	background-color: #00B6DE;
	border-color: #00B6DE;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	letter-spacing: 5px;
	font-size: 19px;
	font-weight: 100;
}
.dropdown-menu{
	background-color: #00B6DE;

}
.dropdown-menu>li>a {
	color: #fff;
	letter-spacing: 5px;
	font-size: 19px;
	font-weight: 100;
}
.navbar-brand{
	height: 48px;
	padding: 0px;
}
.logo{
	height: inherit;
}

/*Body Modifications*/
body{
	font-family: 'EB Garamond', 'serif';
	background-image:url('../images/background.png');
}

body > .container {
  padding: 60px 15px 0;
}


/*Footer Modifications*/
#footer{
	height: 40px;
	background-color: #00B6DE;
}

/* Customize based on container */
@media (min-width: 768px) {
  	.navbar{
		min-height: 100px;
	}
	.navbar-nav>li>a {
		padding-top: 75px;
		padding-bottom: 18px;
	}
	.navbar-brand{
		height: 90px;
		margin-top: 12px;
	}
  	.container {
    	max-width: 1080px;
  	}
  	body > .container {
		padding-top: 137px;
	}
}

/* Flexslider */
.flex-direction-nav a:before{
	font-family: "FontAwesome";
	content: '\f0a8';
	font-style: normal;
}
.flex-direction-nav a.flex-next:before{
	content: "\f0a9";
}

/* Portfolio.html */
.portfolio-img{
	width: 100%;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 7px;
}
.project{
	padding: 0px;
}